@tailwind base;
@tailwind components;
@tailwind utilities;

.json-output {
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}
